{% extends "layout.html" %}


{% block body %}

<canvas id="myChart" width="400" height="50"></canvas>
<div class="container my-3">
    <h2 class="text-center"> Add email</h2>
</div>
<canvas id="myChart" width="400" height="50"></canvas>

    <form class="formwrapper text-center" action="{{url_for('add_email')}}" method="post">

            <label for="SiteId">Site: </label>
            <input type="text" name="site_id" id="Site_id">

            <label for="RecipientName">Recipient Name: </label>
            <input type="text" name="name" id="RecipientName">

            <label for="Email">Email: </label>
            <input type="text" name="email" id="Email" value="{{url_id}}">

        <button type="submit">Submit</button>
    </form>


{% endblock %}


