<html lang="en-gb">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoring System - {%block title%}{% endblock %}</title>

    <!-- CSS -->
    <!-- Icons -->
    <link
      href="{{  url_for('static', path='/css/all.min.css')  }}"
      rel="stylesheet"
    />
    <link
      href="{{  url_for('static', path='/css/boxicons.min.css')  }}"
      rel="stylesheet"
    />
    <!-- Lib -->
    <link
      rel="stylesheet"
      href="{{  url_for('static', path='/css/bootstrap.min.css')  }}"
    />
    <!-- <link rel="stylesheet" href="css/datatables.min.css"> -->
    <link
      rel="stylesheet"
      href="{{  url_for('static', path='/css/mdb.min.css')  }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', path='/img/favicon.jpg') }}"
      sizes="32x34"
    />

    {% block css %} {% endblock %}
  </head>
  <body onload="window.scrollTo(0, 1);">
    <!--Header-->
    <header class="page-header">
      {% block header %}{% endblock header %}Site Header
    </header>
    <!--Container of content and sidebars-->
    <div class="container">
      <!--left sidebar-->
      <aside id="left-sidebar" class="box">Left sidebar</aside>
      <!--Main content-->
      <main>
        <!-- Content here -->
        {% block main %} {% endblock %} {% block script %} {% endblock %}
      </main>
      <!--right sidebar-->
      <aside id="right-sidebar" class="box">
        <!--add site diag-->
        <dialog id="add-website" class="modal-style">
          <form method="" id="siteModal" class="border border-light p-5">
            <p>
              Add a website
              <label for="sitename"> Site Name </label>
              <input
                id="sitename"
                placeholder="Enter the website's name"
                type="text"
                class="form-control mb-4"
              />

              <label for="site-protocol"> Protocol </label>
              <select
                id="site-protocol"
                class="browser-default custom-select mb-4"
              >
                <option disabled selected>Select a protocol</option>
                <option>http</option>
                <option>https</option>
                <option>ftp</option>
              </select>

              <label for="website-url">Website url</label>
              <input
                id="website-url"
                type="text"
                placeholder="Enter site URL"
                class="form-control mb-4"
              />

              <label for="website-port">Port</label>
              <input
                id="website-port"
                type="number"
                placeholder="Enter site port"
                class="form-control mb-4"
              />
            </p>
            <menu>
              <button value="cancel" class="btn btn-info btn-block my-4">
                Cancel
              </button>
              <button
                id="saveBtn"
                value="default"
                class="btn btn-info btn-block my-4"
              >
                Save site
              </button>
            </menu>
          </form>
          <form method="" id="adminModal" class="border border-light p-5">
            <p class="h4 mb-4 text-center">Add an admin</p>

            <label for="adminEmail">Admin Email address</label>
            <input
              type="text"
              id="adminEmail"
              class="form-control mb-4"
              placeholder="Enter E-mail address"
            />

            <label for="adminName">Admin Full Name</label>
            <input
              type="text"
              id="adminName"
              placeholder="enter admin name"
              class="form-control mb-4"
            />

            <button class="btn btn-info btn-block my-4" id="saveAdminBTN">
              Save
            </button>
          </form>
        </dialog>
        <!--/add site diag-->
        <!--Add site button-->
        <menu>
          <button id="addNeWebsite">Add a website</button>
        </menu>
        <!--/Add site button-->
        <output aria-live="polite"></output>
      </aside>
      <dialog id="edit-website"></dialog>
    </div>
    <footer>
      {% block footer %}{% endblock footer %}&copy;2021 - Smart Zambia Institute
    </footer>
  </body>
  <!-- Scripts -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"
    defer
  ></script>
  <script
    src="{{  url_for('static', path='/js/websocket.js')  }}"
    defer
  ></script>
  <script src="{{  url_for('static', path='/js/main.js')  }}"></script>
  <script src="{{ url_for('static', path='/js/jquery-3.4.0.slim.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/dataTables.bootstrap4.min.js') }}"></script>
  <script>
    $(document).ready(function () {
      $("#sites-table").DataTable();
    });
  </script>
  <script src="{{ url_for('static', path='/js/tableToCards.js') }}"></script>
</html>
