{% extends "base.html" %} {% block css %}
{% endblock %} {%block title%}Dashboard{% endblock %} {% block main %}
<!--data-card-width sets the minimum width fo making cards, modify post testing-->
<table class="table" id="sites-table" data-card-width="600">
  <thead>
    <tr>
      <th data-card-title>Site name</th>
      <th>Protocol</th>
      <th data-card-action-links>URL</th>
      <th>Port</th>
      <th>Last checked</th>
      <th data-card-footer>Server status</th>
      <th data-card-footer>Site status</th>
    </tr>
  </thead>
  <tbody id="sites-table-body"></tbody>
</table>
{% endblock %}
