<!DOCTYPE html>
<html>
  <head>
    <title>Site dashboard</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="sites">
      <h1>WebSocket Chat</h1>
      <h2>Your ID: <span id="ws-id"></span></h2>
      <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
      </form>
      <ul id="messages"></ul>
    </div>
    <aside id="right-sidebar">
        <a href="./addsite">Add a site</a>
    </aside>
    <script src="{{  url_for('static', path='/js/websocket.js')  }}"></script>
  </body>
</html>
