<!DOCTYPE html>
<html>
  <head>
    <title>Site dashboard</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="sites">
      <h1>Website dashboard/</h1>
      <h2>Your ID: <span id="ws-id"></span></h2> 
      <!--TODO: enter datatable of sites here-->
      <p>List of sites here</p>
    </div>
    <aside id="right-sidebar">
        <dialog id="add-website">
          <form method = "dialog">
            <p> Add a website
              <label> Site Name
                <input id="sitename" placeholder="Enter the website's name" type="text">
              </label>
              <label> Protocol
                <select>
                  <option disabled selected>Select a protocol</option>
                  <option>http</option>
                  <option>https</option>
                  <option>ftp</option>
                </select>
              </label> 
              <label>Website url
                <input id="website-url" type="text">
              </label>
              <label>Port
                <input id="website-port" type="number">
              </label>
            </p>
          </form>
        </dialog>
    </aside>
    <script src="{{  url_for('static', path='/js/websocket.js')  }}"></script>
  </body>
</html>
