<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Dashboard | Main Page</title>
    <link rel="stylesheet" type="text/css" href="../static/siteinfo.css" />
</head>

<body>
    <section class="parent">
        <header>Header content goes here</header>
        <aside class="left-side">left side bar content here</aside>
        <main class="section content">This is the main body. Socket me daddy!!!</main>
        <aside class="right-side">right side bar content goes here</aside>
        <footer>&copy 2021, Smart Zambia Institute.</footer>
    </section>
</body>

</html>